/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основной стиль для страницы */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Заголовок страницы */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

/* Основной контент */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.content h2 {
  color: #007BFF;
}

.content p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Подвал */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}
